# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS System Files
.DS_Store

# Ansible specific
*.retry

# Molecule and testing artifacts
.molecule/
.pytest_cache/

# Other common
.cache/
__pycache__/
*.py[cod]
*.log
*.tar.gz
*.egg-info/
dist/
build/
coverage.xml
htmlcov/
