{% if docker_opts is defined %}
{% set _daemon = docker_opts | combine({}) %}
{% if docker_storage_driver is defined and docker_storage_driver | length > 0 %}
{% set _daemon = _daemon | combine({"storage-driver": docker_storage_driver}) %}
{% endif %}
{{ _daemon | to_nice_json }}
{% endif %}
