{%- if docker_redhat_yum_repo_info is defined and docker_redhat_yum_repo_info | type_debug == 'list' -%}
{%    for item in docker_redhat_yum_repo_info %}
{%      if item is defined and item.key is defined and item.name is defined and item.baseurl is defined %}
[{{ item.key }}]
name={{ item.name }}
baseurl={{ item.baseurl }}
{%        if item.enabled is defined %}
enabled={{ item.enabled | default(1) }}
{%        endif %}
{%        if item.gpgcheck is defined %}
gpgcheck={{ item.gpgcheck }}
{%        endif %}
{%        if item.gpgkey is defined %}
gpgkey={{ item.gpgkey }}
{%        endif %}
{%      endif %}
{%    endfor %}
{% endif %}
